body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
}

.gallery {
  /*--image-size: 100px;*/
  /* The reason that we need to do a calc is because we have a gap and the image is span 2 columns,
     So without adding the gap space, the border-radius for the img will not show properly */
  --img-size: calc(100px - 0.5rem / 2);

  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, var(--img-size));

  /* As soon as you add grid-template-rows like the setting in grid-template-columns, it will place slot up as it got enough space for the second row and the third row (overflow effect)
     Make sure you don't have the "grid-row: span 2;" for the image.
     Go to devtool to show grid lines so you can understand this better.
  */
  /*grid-template-rows: repeat(6, var(--image-size));*/
  grid-template-rows: repeat(3, var(--img-size));

  img {
    aspect-ratio: 1;
    object-fit: cover;
    grid-column: span 2;
    border-radius: 0.5rem;

    /* Add the clippath to cut the diamond shape, it is getting from another tool which we will not learn about
       https://yqnn.github.io/svg-path-editor/
     */
    clip-path: path(
      'M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z'
    );
    transition: filter 500ms, clip-path 500ms;

    &:nth-of-type(4) {
      grid-column: 2 / span 2;
    }

    /* You can do animation on clip-path */
    &:hover {
      z-index: 100;
      clip-path: path(
        'M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z'
      );
    }

    /* This is for move mouse off the image (unhover), without this, the previous hovered image will straight away behind other images. (because we didn't set animiation to be 'forward')
       This will have a delay to say for 500ms, we still want it to be in frontend of other images (z-index: 10; it can be any number greater than 0)
    */
    &:not(:hover) {
      animation: zIndexHack 500ms;
    }
  }
}

/* Hover on the whole .gallery section become darker */
.gallery:hover > img {
  filter: brightness(0.5) saturate(0.5);
}

/* Reset the image on hover to be normal for brightness but more saturated when on hover,
   so all the images except for the hover one will be darker if user just hover on 1 image */
.gallery > img:hover {
  filter: brightness(1) saturate(1.5);
}

@keyframes zIndexHack {
  0%,
  100% {
    z-index: 10;
  }
}
